.hand {
	cursor: pointer;
}
.icon-rss {
	background:transparent url("/rss.png");
    background-position: center center;
}

.icon-facebook {
	background:transparent url("/facebook.png");
    background-position: center center;
}

.icon-vk {
	background:transparent url("/vk.png");
    background-position: center center;
}

#searchfield , .searchgroup{
	height: 39px;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 18px;
}

#iron-router-progress {
    background-color : #2299DD;
    box-shadow       : 0 0 5px #2299DD;
}