<template name="home">
				<div id="hero">
					<div id="cover-image" class="animated fadeIn">
						<div class="container">
							<h1 class="hero-text animated fadeIn">Die beste Möglichkeit, gute elektronische Musik zu entdecken.</h1>
								{{> searchpanel}}
							<div class="screenshot animated fadeInUp">
							</div>
						</div>
					</div>
				</div>
				{{> linklist}}
</template>

<template name ="searchpanel">
	<div class="cta animated fadeIn">
		<div class="input-group input-group-lg" id="searchgroup">
		  <span id="searchbutton" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
		  <input id="searchfield" type="text" class="form-control typeahead" data-highlight="true" data-min-length="3" name="suggestion" data-template="suggestion" data-source="suggestions" data-display-key="value" autocomplete="off" spellcheck="off" placeholder="Titel, Interpret, Album, Compilation...">
		</div>
	</div>
</template>

<template name="suggestion">
	<p class="suggestion">{{name}}<small><em><time class="pull-right" datetime="{{date_published}}" data-livestamp="{{date_published}}"></time></em></small></p>
</template>

<template name="link">
	<div class="col-lg-2">
		{{#if hasImageURLSoundcloud}}
			<div class="insideWrapper">
				<img class="img-rounded coveredImage" src="{{soundcloud.artwork_url}}" alt="Placeholder">
				<canvas class="ratingChart coveringCanvas" id="ratingChart_{{_id._str}}"></canvas>
			</div>
			<p class="link-name">{{name}} <br/><small><time datetime="{{date_published}}" data-livestamp="{{date_published}}"></time></small></p>
		{{else}}
			{{#if hasImageURLHypem}}
				<div class="insideWrapper">
					<img class="img-rounded coveredImage" src="{{hypem.artwork_url}}" alt="Placeholder">
					<canvas class="ratingChart coveringCanvas" id="ratingChart_{{_id._str}}"></canvas>
				</div>
				<p class="link-name">{{name}} <br/><small><time datetime="{{date_published}}" data-livestamp="{{date_published}}"></time></small></p>
			{{else}}
				<div class="insideWrapper">
					<img class="img-rounded coveredImage" src="placeholder.png" alt="Placeholder">
					<canvas class="ratingChart coveringCanvas" id="ratingChart_{{_id._str}}"></canvas>
				</div>
				<p class="link-name">{{name}} <br/><small><time datetime="{{date_published}}" data-livestamp="{{date_published}}"></time></small></p>
			{{/if}}
		{{/if}}
	</div><!-- /.col-lg-4 -->
</template>

<template name="linklist">
	<div class="container marketing">
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
	      	{{#each links}}
	      		{{> link}}
	      	{{/each}}
	      </div><!-- /.row -->
	  </div>
</template>