<template name="notFound">
	<div id='not-found-alt'>
	  <div class="info">
	    <h1>404</h1>
	    <p>Hier gibt es leider nichts zu hören.</p>
	
	    <p class="go-back">
	      Bitte geh zurück zur <a href="{{pathFor 'home'}}">Startseite</a>.
	    </p>
	  </div>
		<div id="container"></div>
	</div>
</template>

<template name="unauthorized">
	<div id='not-found-alt'>
	  <div class="info">
	    <h1>401</h1>
	    <p>Du darfst diese Seite leider nicht besuchen.</p>
	
	    <p class="go-back">
	      Bitte geh zurück zur <a href="{{pathFor 'home'}}">Startseite</a>.
	    </p>
	  </div>
		<div id="container"></div>
	</div>
</template>